<!DOCTYPE html>
<html>
<head>
    <title>Itinerary</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <nav>
        <a href="/">Home</a> 
        <% if (user) { %>
            <a href="/logout" class="logout" >Log Out</a>
            
            <a href="/trips" class="itinerary-nav">My Itineraries</a> 
        <% } else { %>
            <a href="/auth/google" class="login">Log In</a>
        <% } %>
    </nav>