<!DOCTYPE html>
<html>
    <head>
        <title>Itinerary</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
    <nav>
        <a href="/">Home</a>
        &nbsp; | &nbsp;
        <a href="/">All Itineraries</a>
    </nav>
