<%- include('./partials/header') %>

<h2 class="splash-header">
    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
</h2>


<div class="circle">
    <a href="/trips/new" >Start Planning</a>
</div>

<%- include('./partials/footer') %>