<%- include('./partials/header') %>

<h2 class="splash-header">
    <div class="splashLine1">
        consectetur adipiscing elit, sed do
    </div>
    <div class="splashLine2">
        eiusmod tempor incididunt ut labore
    </div>
</h2>


<div class="circle">
    <a href="/trips/new" class="startPlanningLink">
        <div class="splashLink1">
            Start 
        </div>
        <div class="splashLink2">
            Planning
        </div>
    </a>
</div>

<%- include('./partials/footer') %>