<%- include('./partials/header') %>
<body class="splash-background">
    
<div class="splash-container">
    <h2 class="splash-header">
        <div class="splashLine1">
            From Dreams to Reality: Design Your Ultimate Adventure
        </div>
        <div class="splashLine2">
            Explore Every Corner, and Create Unforgettable Moments
        </div>
    </h2>

    <div class="circle">
        <a href="/trips/new" class="startPlanningLink">
            <div class="splashLink1">
                Start 
            </div>
            <div class="splashLink2">
                Planning
            </div>
        </a>
    </div>
</div>
</body>
<%- include('./partials/footer') %>