
body {
  padding: 50px;
  background-color: lightgray;
}

.splash-background {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https://images.unsplash.com/photo-1580137189272-c9379f8864fd?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  text-decoration: none;
  color: white;
}

.new-trip {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

nav {
  height: 30px;
}

hr {
  border-top: 1px solid white;
}

.vl {
  border-left: 1px solid white;
  height: 900px;
}

input {
  width: 50%;
  display: block;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 5px;
  margin-bottom: 10px;
}

.showButton {
  font-size: 13px;
  color: rgb(255, 255, 255);
  border-radius: 60%;
  border: white solid 1px;
  background-color: transparent;
  margin-bottom: 15px;
}

.logout {
  float: right;
}
.itinerary-nav {
  float: right;
  margin-right: 1%;
}
.login {
  float: right;
  width: 65px;
  height: 24px;
  line-height: 22px;
  border-radius: 24%;
  font-size: 13px;
  color: #fff;
  text-align: center;
  outline: white solid 1px;
  background: transparent;
}

.splash-container {
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.splash-header {
  text-align: center;
  color: white;
  margin-top: 16%;
}

.splashLine1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px; 
  margin-right: 117px;
}
.splashLine2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px; 
  margin-left: 200px;
}

.startPlanningLink{
  text-decoration: none;
}

.splashLink1 {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
.splashLink2 {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  line-height: 22px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  text-align: center;
  outline: white solid;
  background: transparent;
  transform: translate(320%, 5%);
}

.newPageHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.newPageForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newPageForm input {
  width: 90%;
  display: block;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 5px;
  margin-bottom: 10px;
}
.newPageButton {
  background-color: transparent;
  border: white solid;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  margin: 4px 2px;
}

.allItinerariesHeader {
  color: white;
}

.indexNewTrip {
  margin-top: 5%;
  font-size: 15px;
  font-weight: bold;
}

.profileTrips {
  color: white;
  font-size: 18px;
}

.profileDates {
  color: grey;
  font-size: 12px;
  margin-bottom: 1%;
}

.showTitle {
  color: white;
  font-size: 30px;
}

.showDate {
  color: white;
  font-size: 13px;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  font-size: 10px;
  color: rgb(231, 150, 150);
  border-radius: 30%;
  border: white solid 1px;
  background-color: rgb(232, 232, 232);
}

.container {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: transparent;
  padding: 20px;
}

.tripOverview {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 41px;
}

.flightsSide {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12x;
}
.hotelsSide {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12x;
}

.itinerarySide {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.editHeader {
  color: white;
}

.editInput {
  width: 20%;
  display: block;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: black;
  padding: 5px;
  margin-bottom: 10px;
}

/* li {
  list-style: none;
} */