<%- include('../partials/header') %>
   
<h2 class="editHeader">Edit Activity</h2>

<form action="/excursions/<%= excursion._id %>?_method=PUT" method="POST">
    <input class="editInput" type="text" name="activity" value="<%= excursion.activity %>">
    <button type="submit">Save</button>
</form>

<%- include('../partials/footer') %>