<%- include('../partials/header') %>

<body>
    <h1 class="allItinerariesHeader" >My Itineraries</h1>
    <ul>
        <% trips.forEach(function(trip) { %>
        <li>
            <a href="/trips/<%= trip._id %>">
            <%= trip.location %>
            </a>
        </li>
        <% }); %>
    </ul>
    <a href="/trips/new" class="indexNewTrip">Plan a new trip</a>

    <%- include('../partials/footer') %>