<%- include('../partials/header') %>

<body>
    <h1>All Itneraries</h1>
    <ul>
        <% trips.forEach(function(trip) { %>
        <li>
            <a href="/trips/<%= trip._id %>">
            <%= trip.location %>
            </a>
        </li>
        <% }); %>
    </ul>

    <%- include('../partials/footer') %>