<%- include('../partials/header') %>

<h1 class="newPageHeader" >Plan a New Trip</h1>

<div class="newPageForm" >
    <form action="/trips" method="POST" autocomplete="off" class="new-trip">
        <label> Location:
            <input type="text" name="location">
        </label>
        <label> Start date:
            <input type="date" name="startDate">
        </label>
        <label> End Date:
            <input type="date" name="endDate">
        </label>
        <button class="newPageButton" type="submit">Start Planning</button>
    </form>
</div>
<%- include('../partials/footer') %>