<%- include('../partials/header') %>

<h2><%= trips.location %> </h2>



<h3>
    <% datesBetween.forEach(date => { %>
        <li>
            <%= date.toLocaleDateString(undefined, { weekday: 'long', month: 'long', day: 'numeric', year: 'numeric' }) %>
            <input type="text" name="activity" placeholder="Add activity...">
        </li>
    <% }) %>
</h3>



<%- include('../partials/footer') %>